<%@ page contentType="text/html;charset=UTF-8" %>

<div id="footer">
  <div style="float:left;width:300px;">
    <br/>© 2012 Rastlash.com <br>
    <a href="http://blog.rastlash.com/">Bloq</a> · 
    <a href="http://rastlash.com/pages/about">Haqqımızda</a> · 
    <a href="http://rastlash.com/pages/contact">Əlaqə</a><br>
    <a href="http://rastlash.com/pages/faq">Tez-tez Soruşulan suallar</a> · 
    <a href="http://rastlash.com/pages/developers">Sayt sahibləri üçün</a>
  </div>

  
  <div style="float:left;width:300px;">
    <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Frastlash&amp;width=292&amp;height=62&amp;colorscheme=dark&amp;show_faces=false&amp;border_color&amp;stream=false&amp;header=false&amp;appId=326782320752165" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:62px;" allowTransparency="true"></iframe>
  </div>
  
  <div style="float:left;width:300px;">
    <br/>Bizi Twitter-də izləyin <br/>
    <a href="https://twitter.com/rastlash" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @rastlash</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  
  

  

  <a href='http://millinet.az/' style="float:right;" target='_blank'><img border='0' src='http://millinet.az/logo.php?id=1693'></a>

  <div class="clearer"></div>

</div>