<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"><!--<![endif]-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><g:layoutTitle default="Grails"/></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="${resource(dir: 'images', file: 'favicon.ico')}" type="image/x-icon">
    <link rel="stylesheet" href="${resource(dir: 'css', file: 'style.css')}" type="text/css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34857169-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>
  <g:layoutHead/>

  <r:layoutResources />

</head>
<body style="background-color: #5E5751;">

  <div id="top">

    <div id="rastlash-bar">
      <a id="rastlash-button" href="${createLink(controller: 'rastla')}">Rastlaş</a>

      <a  class="bar-btn-right" href="${createLink(controller: 'user', action:'logout')}">Çıxış</a>
      <a  class="bar-btn-right" href="${createLink(controller: 'home')}">Əsas səhifə</a>
    </div>
    
  </div>

    <div id="content">
      
      <div id="profile-body">
        <g:applyLayout name="_profilesidebar" />

        <div id="profile-content">
          <g:layoutBody/>
        </div>

        <g:javascript library="application"/>
        <r:layoutResources />

        <div class="clearer"></div>
      </div>
      
      

    </div>

    <div class="clearer"></div>

    <g:applyLayout name="_footer" />


</body>
</html>