<%@ page contentType="text/html;charset=UTF-8" %>

<html>
  <head>
    <meta name="layout" content="loggedin"/>
    <title>Profile</title>
  </head>
  <body>
    <h1>Profile</h1><br/>
    
    <g:applyLayout name="_profilesidebar" />
  </body>
</html>
