* {
    margin:0;
    padding:0;
}

a {
    text-decoration:none;
}

#rastplus-plugin {
    width:48px;
    height: 58px;
    font-size:13px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f5f5f5;
    border-radius: 4px;
    border: 1px solid #eee;
}

#rastplus-plugin.active {
    background-color: rgb(8, 178, 255);
}

#rastplus-button {
    background-color:rgb(250, 105, 0);
    height:20px;
    border-radius: 4px;
    line-height:20px;
    color:#fff;
    font-weight:bold;
    width:48px;
    text-align:center;
}

#rastplus-button img {
    margin:3px 0px 3px 0px;
}

#rastplus-count {
    display:block;
    width:48px;
    height:36px;
    margin-bottom:1px;
    text-align:center;
    line-height:36px;
    color:rgb(8, 178, 255);
}

#rastplus-count.active {
    color: #f5f5f5;
}