* {
    margin:0;
    padding:0;
}

#rastplus-plugin {
    height: 18px;
    border-radius: 4px;
    width:78px;
    font-size:13px;
    background-color:#f5f5f5;
    border: 1px solid #eee;
    font-family: Arial, Helvetica, sans-serif;
}

#rastplus-plugin.active {
    background-color: rgb(8, 178, 255);
}

#rastplus-button {
    background-color:rgb(250, 105, 0);
    height:18px;
    border-radius: 4px;
    float:left;
}

#rastplus-button img {
    margin:1px;
}

#rastplus-count {
    float:right;
    text-align:center;
    line-height:18px;
    width:56px;
    color:rgb(8, 178, 255);
    text-decoration:none;
}

#rastplus-count.active {
    color: #f5f5f5;
}