* {
    margin: 0;
    padding: 0;
}

html, body {
    height:100%;
    padding: 0 !important;
    margin: 0 !important;
}

h1, h2, h3 {
    color: #B75141;
}

h1, h2 {
    margin-bottom: 10px;
}

body {
    color:#515151; 
    background-color:#f5f5f5; 
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol {
    padding-left:40px
}

a {
    text-decoration: none;
    color: #c9d021;
    outline: 0;
}

.clearer {
    clear:both;
}

.box-padding {
    padding: 10px;
}

.ui-widget, .ui-widget button {
    font-family: Verdana,Arial,sans-serif;
    font-size: 0.8em;
}


.nooverflow {
    overflow:hidden;
}

.pretty-input {  
    margin: 2px;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #eeeeee), to(#FFFFFF)); 
    background: -moz-linear-gradient(top, #FFFFFF, #eeeeee 1px, #FFFFFF 25px);  
}  

.pretty-input:hover, pretty-input:focus {   
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;  
    border-color: #C9C9C9;
}  

.input-error {   
    -webkit-box-shadow: red 0px 0px 8px;  
    border-color: red;
    background-color: red;
}  

.signup-error {
    background-color:#fee;
    border: 1px solid red;
    padding: 10px;
    margin-bottom: 20px;
}

.pretty-input {  
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
}  

.pretty-input {   
    padding: 7px;  
    border: solid 1px #E5E5E5;  
    outline: 0;  
    font: normal 13px/100% Verdana, Tahoma, sans-serif;  
    width: 200px;   
} 

.blue-button {
    border:0;
    color:#fff;
    border-radius: 3px;
    margin:2px;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    padding: 7px;
    background-color: #08b2FF;
    background: -moz-linear-gradient(top, #08b2FF, #00a4FF );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08b2FF', endColorstr='#00a4FF'); /* for IE */
    background: -webkit-gradient(linear, center top, center bottom , from(#08b2FF), to(#00a4FF)); /* for webkit browsers */
    background-image: -o-linear-gradient(rgb(8,178,255), rgb(0,164,255)); 
    text-shadow: 0px -1px 0px rgb(69, 107, 34);
}

.blue-button:hover, .blue-button:focus, .facebook-button:hover {
    box-shadow: 0 0 6px #0086AB;
    -webkit-box-shadow: 0 0 6px #0086AB; 
    -moz-box-shadow: 0 0 6px #0086AB; 
}

#error {
    height: 20px;
    color: red;
}

.facebook-button {
    padding: 6px 6px 6px 30px;
    margin: 2px;
    border-radius: 3px;
    text-decoration:none;
    background: url('../images/facebook_ico.png') 5px center no-repeat;
}

#logoimg {
    float:left;
}

#logotext {
    float:left;
    line-height: 64px;
    margin-left: 15px;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 0px -1px 0px #222;
}

#rastlash-button {
    float:left;
    text-decoration:none;
    font-weight:bold;
    font-size:22px;
    text-shadow: 0px -1px 0px rgb(69, 107, 34);
    color:#fff;
    width: 120px;
    height:40px;
    line-height:40px;
    text-align:center;
    background-color: #059AF0;
    margin-right: 40px; 
}

#rastlash-button img {
    margin: auto 5px auto 5px
}

#rastlash-button:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00DFFC', endColorstr='#059AF0'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#00DFFC), to(#059AF0)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #00DFFC,  #059AF0); /* for firefox 3.6+ */ 
    background-image: -o-linear-gradient(#00DFFC, #059AF0); 
}

#rastlash-bar {
    display:fixed;
    background-color: #5E5751;
    color:#fff;
    height: 40px;
    border-bottom: 5px solid #059AF0;
}

#home-bar {
    background-color: #5E5751;
    color:#eee;
    padding: 15px;
}

.bar-btn {
    width:40px;
    height:40px;
    margin:0px;
    float:left;
    cursor:pointer;
}

#bar-share {
    float:left;
    margin-right:40px;
}

.bar-btn-right:hover, .bar-btn:hover {
    -webkit-box-shadow: 0 8px 6px -6px #222;
    -moz-box-shadow: 0 8px 6px -6px #222;
    box-shadow: 0 8px 6px -6px #222;
}

#bar-vote {
    float:left;
    line-height:40px;
    margin-right:40px;
}

#like-vote.active-vote, #like-vote:hover {
    background-image: url('../images/voteup-on.png');
}

#like-vote{
    background-image: url('../images/voteup.png');
}

#dislike-vote.active-vote, #dislike-vote:hover {
    background-image: url('../images/votedown-on.png');
}

#dislike-vote{
    background-image: url('../images/votedown.png');
}

.bar-span {
    padding-right: 5px; 
    float:left;
    font-weight:bold;
    text-shadow: 0px -1px 0px #222;
    line-height:40px;
}

.bar-btn-right {
    text-decoration:none;
    font-weight:bold;
    font-size:14px;
    padding-left:6px;
    padding-right:6px;
    height:40px;
    color:#fff;
    text-shadow: 0px -1px 0px #222;
    line-height:40px;
    float:right;
}

#report-btn {
    font-size:30px;
    font-weight:bold;
    color:red;
    text-align: center;
}

#bar-qeyd {
    float:left;
    line-height:40px;
    background-color: #F08421;
    font-weight:bold;
    font-size:14px;
    padding-left:6px;
    padding-right:6px;
    height:40px;
    text-shadow: 0px -1px 0px #666;
    cursor: pointer;
}

#info {
    float:left;
    padding:15px;
    width: 350px;
}

#infotext {
    margin-top: 10px;
    color: #DA4900;
}

#login {
    float:right;
}

#content {
    padding: 50px 1% 50px 1%;
    background-color:#f5f5f5; 
}

#home-content {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

#home-content div {
    margin-bottom: 20px;
    width: 900px;
}

#home-content div img {
    float:left;
}

#home-content div div {
    float: right;
    width: 830px
}

#full-signup {
    width: 500px;
    margin: 20px auto 20px auto;
}

#footer {
    background-color: #5E5751;
    padding:20px;
    color: #eee;
    font-size: 12px;
}

#single-message {
    width: 400px;
    margin: 100px auto 100px auto;
    padding: 10px;
}

.red-box {
    background-color:#fee;
    border: 1px solid red;
}

.green-box {
    background-color:#efe;
    border: 1px solid green;
}

.blue-box {
    background-color:#BAF0FF;
    border: 1px solid blue;
}

.form {
}

.form-field {
    clear: both;
}

.form-field label {
    width:150px;
    float:left;
    line-height: 35px;
    margin-right: 10px;
}

.form-field input {
    float:left;
}

#profile-body {
    width: 800px;
    margin: 50px auto 50px auto;
}

#profile-sidebar {
    float:left;
    width: 160px;
}

#profile-sidebar a {
    display: block;
    width: 150px;
    padding: 5px;
    margin:3px;
    background-color: #515151;
    color: #eee;
}

#profile-sidebar a:hover {
    background-color: #059AF0;
    color: #fff;
}

#profile-box {
    width: 150px;
    padding: 5px;
    margin: 3px;
    background-color: #eee;
    font-size: 40px;
}

#profile-content {
    float:left;
    width: 590px;
    margin-left: 50px;
}

.post-box {
    text-decoration: none;
    color: #515151;
    display: block;
    background-color: #eee;
    margin-bottom: 15px;
    width: 500px;
    cursor: pointer;

    box-shadow: 0 0 5px rgba(200, 200, 200, 1);
    -webkit-box-shadow: 0 0 5px rgba(200, 200, 200, 1); 
    -moz-box-shadow: 0 0 5px rgba(200, 200, 200, 1); 
}

.post-box:hover {
    background-color: #fff;
}

.post-box-title {
    padding: 5px;
} 

.post-box-interest {
    float: left;
    background-color: #f4f4f4;
    color: #fbb;
    padding: 2px;
}

.post-box-url {
    float:left;
    color: #ccc;
    padding-left: 8px;
    font-size: 12px;
    line-height: 22px;
}

.post-box-poster {
    float:right;
    color: #ccc;
    padding-right: 8px;
    font-size: 12px;
    line-height: 22px;
}